enterprise-integration-patterns/src/EIP.AppB/Service References/ServicesRegistry/service-registry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EIP.ServicesRegistry.Core.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EIP.ServicesRegistry.Core.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventRegistry">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceRegistry">
        <xs:sequence>
          <xs:element minOccurs="0" name="CanonicalDataType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CanonicalDataTypeVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Protocol" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EventRegistry" nillable="true" type="tns:EventRegistry" />
  <xs:complexType name="ServiceRegistry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechnicalDetails" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRegistry" nillable="true" type="tns:ServiceRegistry" />
  <xs:complexType name="ArrayOfEventRegistry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventRegistry" nillable="true" type="tns:EventRegistry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventRegistry" nillable="true" type="tns:ArrayOfEventRegistry" />
  <xs:complexType name="ArrayOfWebServiceRegistry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebServiceRegistry" nillable="true" type="tns:WebServiceRegistry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebServiceRegistry" nillable="true" type="tns:ArrayOfWebServiceRegistry" />
  <xs:complexType name="WebServiceRegistry">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceRegistry">
        <xs:sequence>
          <xs:element minOccurs="0" name="WsdlUrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebServiceRegistry" nillable="true" type="tns:WebServiceRegistry" />
</xs:schema>