enterprise-integration-patterns/src/EIP.AppC/Service References/ServicesRegistry/service-registry1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/service-registry?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EIP.ServicesRegistry.Core.Entities" />
  <xs:element name="FindEventByDataType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataTypeFullName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEventByDataTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EIP.ServicesRegistry.Core.Entities" minOccurs="0" name="FindEventByDataTypeResult" nillable="true" type="q1:EventRegistry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EIP.ServicesRegistry.Core.Entities" minOccurs="0" name="SearchEventsResult" nillable="true" type="q2:ArrayOfEventRegistry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchWebService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchWebServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EIP.ServicesRegistry.Core.Entities" minOccurs="0" name="SearchWebServiceResult" nillable="true" type="q3:ArrayOfWebServiceRegistry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>