enterprise-integration-patterns/src/EIP.AppC/Service References/ServicesRegistry/service-registry2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EIP.ServicesRegistry.Core.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EIP.ServicesRegistry.Core.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
  <xs:complexType name="ArrayOfEventService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventService" nillable="true" type="tns:EventService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventService" nillable="true" type="tns:ArrayOfEventService" />
  <xs:complexType name="EventService">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Service">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EventService" nillable="true" type="tns:EventService" />
  <xs:complexType name="ArrayOfRequestService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestService" nillable="true" type="tns:RequestService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestService" nillable="true" type="tns:ArrayOfRequestService" />
  <xs:complexType name="RequestService">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Service">
        <xs:sequence>
          <xs:element minOccurs="0" name="DefinitionUrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestService" nillable="true" type="tns:RequestService" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
</xs:schema>